Repository trellis-ldp/trellis, pull requests merged in 2019-09, with the labels that each got.

#506 Adjust OSGi tests/provisioning
  build.gradle
  platform/karaf/src/main/resources/features.xml
  platform/osgi/src/test/java/org/trellisldp/osgi/OSGiTest.java
Labels: osgi

#505 Moves from ACL database initialization to a permissive default root ACL
  components/dropwizard/src/main/java/org/trellisldp/dropwizard/AbstractTrellisApplication.java
  components/webac/src/main/java/org/trellisldp/webac/WebAcService.java
  core/http/src/main/java/org/trellisldp/http/TrellisHttpResource.java
  core/http/src/test/java/org/trellisldp/http/TrellisHttpResourceTest.java
Labels: area/webac

#518 Remove Provider annotation
  core/http/src/main/java/org/trellisldp/http/TrellisHttpResource.java
Labels: area/http
